set_io   i_clk    21
set_io   i_nrst   116
set_io   o_hs     90
set_io   o_vs     91
set_io   o_r[0]   80
set_io   o_r[1]   81
set_io   o_g[0]   78
set_io   o_g[1]   79
set_io   o_b[0]   88
set_io   o_b[1]   87

