set_io clk   21
set_io nRst  78

set_io sw2   79
set_io sw1   80
set_io sw0   81

set_io led[4]  95
set_io led[3]  96
set_io led[2]  97
set_io led[1]  98
set_io led[0]  99

set_io tx    8
set_io rx    9

   
